<h3 class="page-title">Apertura de Vuelos</h3>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <input type="text" class="form-control" placeholder="ID del avion" [(ngModel)]="idexecution"
            aria-label="Username" aria-describedby="addon-wrapping">

        <button [disabled]="idexecution == undefined" type="button" class="btn btn-primary" (click)="update()">
            Abrir vuelo
        </button>
    </div>
</div>

<!-- <h5 class="card-title">ID vuelo: {{ execution.idexecution }}</h5> -->