<h1 style="top: 10px; left: 10px">Bienvenid@ a TECAir!</h1>
<h5>Su aerolínea en línea</h5>

<div class="d-flex justify-content-center align-items-center">
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/Cancun.jpeg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>Cancún</h3>
          <p>México</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Verona.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h3>Verona</h3>
          <p>Italia</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<form [formGroup]="homeForm" (ngSubmit)="selectDate()">
  <label for="originName">Seleccionar Origen:</label>
  <select
    id="origin"
    class="form-control"
    formControlName="origin"
    [(ngModel)]="selectedOrigin"
  >
    <option value="" disabled selected>Seleccionar Origen</option>
    <option *ngFor="let location of locationsList" [value]="location.name">
      {{ location.name }} ({{ location.city }})
    </option>
  </select>
  <label for="destinationName">Seleccionar Destino:</label>
  <select
    id="destination"
    class="form-control"
    formControlName="destination"
    [(ngModel)]="selectedDestination"
  >
    <option value="" disabled selected>Seleccionar Destino</option>
    <option *ngFor="let location of locationsList" [value]="location.name">
      {{ location.name }} ({{ location.city }})
    </option>
  </select>
  <div class="form-group">
    <button
      style="margin: 20px"
      type="submit"
      class="btn btn-primary"
      [disabled]="!homeForm.valid"
    >
      Continuar
    </button>
  </div>
</form>

<!-- <div class="d-flex justify-content-center align-items-center">
  <button class="btn btn-primary button" (click)="selectDate()">
    Continuar
  </button>
</div> -->
