<h3 class="page-title"> Gestión de promociones </h3>
<form>
    <label class="select-title" for="originName">Seleccionar Origen:</label>
    <select>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>


    <label class="select-title" for="originName">Seleccionar Destino :</label>
    <select>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label class="select-title" for="originName">Monto de la Promoción :</label>
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
        aria-label=".form-control-lg example">

    <label class="select-title" for="originName">Periodo de la promoción :</label>
    <select>
        <option selected>cantidad de meses disponibles para promociones</option>
        <option value="1">1 mes</option>
        <option value="2">2 meses</option>
        <option value="3">3 meses</option>
    </select>


    <button class="btn btn-primary" href="#">Agregar Promoción</button>

</form>

<!--
        <label class="select-title" for="destinationName">Seleccionar Destino:</label>
    <select id="destination" class="form-control" formControlName="destination" [(ngModel)]="selectedDestination">
        <option value="" disabled selected>Seleccionar Destino</option>
        <option *ngFor="let location of locationsList" [value]="location.name">
            {{ location.name }} ({{ location.city }})
        </option>
    </select>
    <div class="form-group">
        <button style="margin: 20px" type="submit" class="btn btn-primary" [disabled]="!addFlightForm.valid">
            Agregar vuelo
        </button>
    </div>
-->