<div class="row justify-content-center mt-4">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="usuario">Correo:</label>
                <input
                  type="text"
                  id="correo"
                  placeholder="Ingrese su correo"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input
                  type="password"
                  id="password"
                  placeholder="Ingrese su contraseña"
                  class="form-control"
                  formControlName="password"
                />
              </div>
              <div class="col justify-content-center mt-3">
                <button type="submit" class="btn btn-primary btn-block">
                  Iniciar Sesión
                </button>
              </div>
              <div class="col justify-content-center mt-3">
                <ol class="breadcrumb">
                  <li class="breadcrumb-newAcc">
                    <a (click)="newAccount()">Crear una nueva cuenta ahora!</a>
                  </li>
                </ol>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
