<div class="container-md">
    <div class="card" style="width: 100%;">
        <img src="../../../../assets/TAlogo.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"> Vuelo : {{ flight.number }} </h5>
            <p style="font-size: 30px;" class="card-text"> Origen: {{ flight.origin }} ➡️ Destino: {{
                flight.destination}} </p>
        </div>

        <div class="card-body">
            <button class="btn btn-secondary me-md-2 button" type="button" (click)="booking()">
                Reservar
            </button>
        </div>
    </div>
</div>