<h1 style="top: 10px;left: 10px;"> Bienvenid@ a TECAir! </h1>
<h5>Vista de aeropuerto</h5>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Buscar un vuelo 🔍</h4>
      <p class="card-text">Ir al flujo de reservaciones</p>
      <a href="#" class="btn btn-primary" (click)="search()">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Gestión de promociones 💰</h4>
      <p class="card-text">Ingresar nuevas promociones </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Chequeo de pasajer@s 🛃</h4>
      <p class="card-text">Chequear pasajer@ en un vuelo </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Asignación de maletas 🧳 </h4>
      <p class="card-text">Asignar maleta/s a un pasajer@ </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title"> Gestión de vuelos 🗺️</h4>
      <p class="card-text">Registrar un vuelo </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title"> Apertura de vuelos ✈</h4>
      <p class="card-text">Confirmación de pasajer@s y maletas </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title"> Cierre de vuelos 🔒</h4>
      <p class="card-text"> Cerrar lista oficial de pasajer@s y maletas </p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>



  
  