<h3 class="page-title"> Cierre de Vuelos </h3>
<form>
    <h3 class="page-title"> Lista de pasajeros </h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
    <h3 class="page-title"> Cantidad de maletas </h3>
    <p>cantidad m</p>
    <button class="btn btn-primary" href="#">Cerrar vuelo</button>

</form>